@inherits MultiplicationBase
@page "/multiplication/game"

<div class="multiplication">

    <div class="header control-bar">
        <BackButton />
        <div class="float-right">
            <Score Value="@Score" />
            <Timer TimeoutInSeconds="180" OnTimeout="@FinishGame" />
        </div>
    </div>

    <div class="@PulpitCssClass">
        <span class="question">@Question</span>

        @for (var i = 0; i < Question?.ProposedAnswers?.Count(); i++)
        {
            <AnswerButton Index="@i"
                          Question="@Question"
                          Answer="@Question.ProposedAnswers[@i]"
                          OnClickCallback="@AnswerSelected"
                          IsMuted="@IsMuted"/>
        }

    </div>

    <div class="footer control-bar">
        <div class="float-right">
            <VolumeButton IsMuted="@IsMuted"
                          OnVolumeChanged="@SetVolume"/>
        </div>
    </div>

</div>
