@inherits MultiplicationBase
@page "/multiplication/game"

<div class="multiplication">
    <div class="@PulpitCssClass">

        <Timer TimeoutInSeconds="180"
               OnTimeout="@FinishGame" />

        <span>SCORE @Score</span>

        <span class="question">@Question</span>

        @for (var i = 0; i < Question?.ProposedAnswers?.Count(); i++)
        {
            <AnswerButton Index="@i"
                          Question="@Question"
                          Answer="@Question.ProposedAnswers[@i]"
                          OnClickCallback="@AnswerSelected" />
        }

    </div>
</div>
