@inherits MultiplicationBase
@page "/multiplication/game"

<div class="multiplication">
    <div class="header">
        <Timer TimeoutInSeconds="180"
               OnTimeout="@FinishGame" />
    </div>
    <div class="@PulpitCssClass">

        <span class="question">@Question</span>

        @for (var i = 0; i < Question?.ProposedAnswers?.Count(); i++)
        {
            <AnswerButton Index="@i"
                          Question="@Question"
                          Answer="@Question.ProposedAnswers[@i]"
                          OnClickCallback="@AnswerSelected" />
        }

    </div>
    <div class="footer">
        <span class="float-right"><span class="oi oi-star"></span> @Score</span>
    </div>
</div>
