
@inherits MultiplicationBase
@page "/multiplication"
@page "/"

<div class="multiplication">
    <div class="pulpit">
        <h3 class="question">@Question</h3>

        @for (var i = 0; i < Question.ProposedAnswers.Count(); i++)
        {
            <AnswerButton Index="@i"
                          Count="@Question.ProposedAnswers.Count()"
                          Answer="@Question.ProposedAnswers[@i]"
                          OnClickCallback="@AnswerSelected" />
        }

    </div>

</div>
