@inherits MultiplicationBase
@page "/multiplication/game"

<div class="multiplication">
    <div class="header control-bar">
        <span>
            back
        </span>
        <span class="float-right">
            <Timer TimeoutInSeconds="180"
                   OnTimeout="@FinishGame" />
        </span>
    </div>
    <div class="@PulpitCssClass">

        <span class="question">@Question</span>

        @for (var i = 0; i < Question?.ProposedAnswers?.Count(); i++)
        {
            <AnswerButton Index="@i"
                          Question="@Question"
                          Answer="@Question.ProposedAnswers[@i]"
                          OnClickCallback="@AnswerSelected" />
        }

    </div>
    <div class="footer control-bar">
        <span><span class="oi oi-star"></span> @Score</span>
        <span class="float-right">sound</span>
    </div>
</div>
