@inherits MultiplicationBase
@page "/multiplication"
@page "/"

<div class="multiplication">
    <div class="@PulpitCssClass">
        <span class="question">@Question</span>

        @for (var i = 0; i < Question?.ProposedAnswers?.Count(); i++)
        {
            <AnswerButton Index="@i"
                          Question="@Question"
                          Answer="@Question.ProposedAnswers[@i]"
                          OnClickCallback="@AnswerSelected" />
        }

    </div>
</div>
