@inherits MultiplicationBase
@page "/multiplication/game"

<div class="multiplication">

    <div class="header control-bar">
        <BackButton />
        <div class="float-right">
            <span class="control-text">score @Score</span>
            <span class="control-text">time <Timer TimeoutInSeconds="180" OnTimeout="@FinishGame" /></span>
        </div>
    </div>

    <div class="@PulpitCssClass">
        <span class="question">@Question</span>

        @for (var i = 0; i < Question?.ProposedAnswers?.Count(); i++)
        {
            <AnswerButton Index="@i"
                          Question="@Question"
                          Answer="@Question.ProposedAnswers[@i]"
                          OnClickCallback="@AnswerSelected" />
        }

    </div>

    <div class="footer control-bar">
        <div class="float-right">
            <VolumeButton />
        </div>
    </div>

</div>
